/* https://www.w3schools.com/css/css_grid.asp */


.grid-container {
  display: grid;
  /* grid-template-columns:auto auto; */
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 191, 191, 0.8);
  text-align: left;
  padding: 10px;
  font-size: 1.5em;
}